img {
    max-height: 7cm;
}

.uitlijning {
    margin: 2cm;
}

body {
    font-family: 'Franklin Gothic Medium';
    color: red;
    background-color: beige;
}

h2 {
    font-style: italic;
}